<%# [feature] %>
<%# @contracts_order_by_end_time contains latest 5 contracts %>
<%# want to show recent booking record in contract/new %>
<%# so that user can know from when equipment is available %>
<%# code snippet start %>
<% if false %>
<ul class="list-group">
<% if @contracts_order_by_end_time.exists? %>
<% @contracts_order_by_end_time.each do |contract| %>
  <li class="list-group-item">
    <%= contract.start_time.strftime("%b %d %Y") %>
    -
    <%= contract.end_time.strftime("%b %d %Y") %>
  </li>
<% end %>
<% else %>
  <li class="list-group-item">No booking record</li>
<% end %>
</ul>
<% end %>
<%# comment snippet end %>

<%= render 'shared/navbar' %>
<div class="container spacer_up_down">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 text-center">
      <div class="image-frame--wh400" style="background-image: url(<%= cl_image_path @equipment.photo, crop: :fill %>)"></div>
      <%#= cl_image_tag @equipment.photo, height: 300, width: 400, crop: :fill %>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5">
      <h4>Rent <%= @equipment.name %></h4>
      <p>Price per Day $<%= @equipment.price %></p>
      <%= simple_form_for([@equipment, @contract]) do |f| %>
        <%#= f.error_notification %>
        <%= f.input :start_time, as: :date, input_html: {class: "start_time"} %>
        <%= f.input :end_time, as: :date, input_html: {class: "end_time"} %>
        <%= f.input :user_id, input_html: { value: current_user.id }, as: :hidden %>
        <div id="total_payment">Total Payment:</div>
        <%= f.button :submit, disabled: true, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
<script>
  const start_time = document.querySelectorAll(".start_time")
  // today is fixed date with the initial date value when page is loaded
  const today = new Date(start_time[0].value, start_time[1].value-1, start_time[2].value)
  const end_time = document.querySelectorAll(".end_time")
  const all_time = [...start_time, ...end_time]
  const total_payment = document.querySelector("#total_payment")
  const contractButton = document.querySelector(".btn.btn-primary")

  console.log(start_time)
  console.log(end_time)
  console.log(today)
  console.log(all_time)
  console.log(total_payment)
  console.log(contractButton)

  all_time.forEach((time, i ) => {
    time.addEventListener("change",(e) => {
      total_payment.innerHTML = ``
      console.log(end_time[0].value, end_time[1].value, end_time[2].value)
      const start_year = start_time[0].value
      const start_month = start_time[1].value
      const start_day = start_time[2].value
      const end_year = end_time[0].value
      const end_month = end_time[1].value
      const end_day = end_time[2].value
      const equipment_price = <%= @equipment.price %>

      console.log(equipment_price)

      const start_date = new Date(start_year, start_month-1, start_day);
      const end_date = new Date(end_year, end_month-1, end_day);

      const duration_day = (end_date - start_date) / 86400000
      const start_date_check = (start_date >= today)

      console.log(duration_day)
      console.log(start_date_check)

      if (start_date_check && duration_day > 0) {
        console.log("start_date is later or equal to today + at least 1day duration")
        let days = duration_day === 1 ? "day" : "days"
        total_payment.innerHTML = `${duration_day} ${days} of rent,
        Total Payment: \$${equipment_price * duration_day}`
        contractButton.removeAttribute("disabled")
      } else {
        total_payment.innerHTML = `Please review your date input.`
        contractButton.setAttribute("disabled", "true")
      }
    });
  })
</script>
<% end %>