<h2>Rent <%= @equipment.name %></h2>
<h2>Price per Day $15(test)</h2>

<%= simple_form_for([@equipment, @contract]) do |f| %>
  <%#= f.error_notification %>
  <%= f.input :start_time, as: :date %>
  <%= f.input :end_time, as: :date %>
  <%= f.input :user_id, input_html: { value: current_user.id }, as: :hidden %>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>     