<<<<<<< Updated upstream
<div class="content center-block text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @equipment.name %></h1>
      <%= cl_image_tag @equipment.photo, height: 300, width: 400, crop: :fill %>
      <p>Category: <%= @equipment.category %></p>
      <p>Price: <%= @equipment.price %></p>
      <p>Description: <%= @equipment.description %></p>

      <%= link_to "Book this equiment", new_equipment_contract_path, class: "btn btn-primary" %>
=======
<div class="container spacer_up_down display__flex-center">
  <div class="row width__100">

    <!-- <div class=""> -->
      <%#= cl_image_tag @equipment.photo, crop: :fill, class: "col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1" %>
    <!-- </div> -->

  <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 image-frame--wh400" style="background-image: url(<%= cl_image_path @equipment.photo, crop: :fill %>)">
  </div>

    <div class="col-xs-12 col-sm-5 col-md-5 display__flex-center text-frame--wh400">
      <div>
        <p class=""><%= @equipment.name %></p>
        <p class="">Category: <%= @equipment.category %></p>
        <p class="">Price: $<%= @equipment.price %></p>
        <p class="">Description: <%= @equipment.description %></p>
        <%= link_to "Book this equipment", new_equipment_contract_path(@equipment), class: "btn btn-primary" %>
      </div>
>>>>>>> Stashed changes
    </div>

  </div>
</div>
