<div class="container spacer_up_down display__flex-center">
  <div class="row width__100">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 image-frame--wh400" style="background-image: url(<%= cl_image_path @equipment.photo, crop: :fill %>)">
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 display__flex-center text-frame--wh400">
      <div>
        <p class=""><%= @equipment.name %></p>
        <p class="">Category: <%= @equipment.category %></p>
        <p class="">Price: $<%= @equipment.price %> / day</p>
        <p class="">Description: <%= @equipment.description %></p>
        <%= link_to "Book this equipment", new_equipment_contract_path(@equipment), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
