<%= render 'shared/navbar' %>
<div class="container spacer_up_down">
  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 well__v--sm">
    <%= link_to "< back to dashboard", user_path, class: "edit_text display__inline-block float-left" %>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Update your profile</h2>
        <%= simple_form_for @user,
          url: url_for(action: 'update', controller: 'users'),
            method: 'patch' do |f| %>
          <%#= f.error_notification %>
          <%= f.input :first_name, required: true %>
          <%= f.input :last_name, required: true %>
          <%= f.input :location, required: true,
          hint: "Updating your location will update location of your equipment as well." %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
