<h2>Profile page for User ID:<%= @user.id %></h2>

<h3>The equipment you want to lend:</h3>
<ul>
  <% @user.equipment.each do |equipment| %>
    <li>
      <%= equipment.name %>
      <%= cl_image_tag equipment.photo %>
      <%= link_to "Edit", edit_user_equipment_path([@user, @equipment]) %><i class="fa fa-trash-o" aria-hidden="true"></i>
    </li>
  <% end %>
</ul>

<%= link_to "Create new equipment", new_user_equipment_path(@user) %>
