<div class="banner">
  <div class="banner__image" style="background-image: linear-gradient(0deg, rgb(89, 48, 9) 100%, rgba(0, 0, 0, 0) 100%), url(<%= image_path 'camping-equipment-stock-today-151002-tease_c7fdee384de58767cfca8eb8d8bc3621.jpg' %>)"></div>
  <div class="banner__border"></div>
  <%= render 'shared/navbar_home' %>
  <div class="banner-content">
    <div>
      <h1 class="grit--online">QuarterMaster</h1>
      <p class="opacity_99">Book unique camping gear and experience the world</p>

      <%#= form_tag root_path, :method => 'get', id: 'banner__search', class: 'form-group', label_html: { class:'form-inline' } do %>
      <!-- <i class="fa fa-search banner__search_icon"></i> -->
      <%#= text_field_tag :search, params[:search], placeholder: "Search with Equipment Name ", id: "search_query", class: "form-control", label_html: { class: 'my_class' } %>
      <%#= submit_tag "Search", :name => nil, :style => 'display: none' %>
      <%# end %>

      <%= form_tag root_path(anchor: 'search_result'),
        :method => 'get', id: 'banner__search',
        class: 'form-group', label_html: { class:'form-inline' } do %>
        <i class="fa fa-search banner__search_icon"></i>
        <%= text_field_tag :search,
        params[:search], placeholder: "try searching for a tent!",
        id: "search_query",
        class: "form-control",
        label_html: { class: 'my_class' } %>
        <%= submit_tag "Search", :name => nil, :style => 'display: none' %>
      <% end %>

    </div>
  </div>
  <a id="banner__scroll-down" class="grit--online text-center" href="#search_result">&#9660;</a>
</div>

<!-- TEMPORARY DUMMY -->
<!-- <div class="text-center dummy-box">
  <p>[!!] Search form here [!!]</p>
</div>
 -->

<div class="container spacer_up_down" id="search_result">
  <div class="row">
    <div class="card__container col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 text-center">

    <% if @equipment.length > 0 %>
    <h2>Equipment Available</h2>
    <% else %>
    <h2>No Matching Result</h2>
    <% end %>

    <% @equipment.each do |equipment| %>
      <%# unless equipment.contracts.exists? %>
        <%= link_to equipment_path(equipment), class: "" do%>
          <div class="col-xs-6 col-sm-4 col-md-4">
            <div class="card" style="background-image: url('<%= cl_image_path equipment.photo, crop: :fill %>');">
              <div class="card__overlay">
                <div class="card__text--container">
                  <p class="equipment__name">
                    <%= equipment.name %>
                  </p>
                  <p class="equipment__category">
                    <%= equipment.category %>
                  </p>
                  <p class="equipment__price">
                    $<%= equipment.price %> per day
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <%# end %>
    <% end %>
    </div>
  </div>
</div>






