<h3>Hello <%= "#{@owner.first_name} #{@owner.last_name}" %>,</h3>

<p><%= "#{@renter.first_name} #{@renter.last_name}" %> has expressed interest in your <%= @contract.equipment.name %>. Please contact <%= @renter.first_name %> at <%= @renter.email %> to arrange a pickup time.</p>

<p>Happy camping!</p>
<p>The QuarterMaster Team</p>
